<div class="banner">
    <h5 class="banner__text">DESCUBRE LAS FUNCIONALIDADES IMPLEMENTADAS EN ESTA PRUEBA TÉCNICA</h5>
    <h5 [routerLink]="['/information']" class="banner__cta">DESCUBRIR AHORA</h5>
</div>
<div class="promo">
    <div class="promo__content">
        <h1>STARSHIPS COLLECTION 2020</h1>
    </div>
</div>
<div infiniteScroll [infiniteScrollDistance]="10" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
    <div class="row">
        <div class="col-md-6 mb-4" *ngFor="let starship of starshipsListService.starship$ | async">
            {{starship|json}}
        </div>
    </div>
</div>