<div class="banner">
    <h5 class="banner__text">DESCUBRE LAS FUNCIONALIDADES IMPLEMENTADAS EN ESTA PRUEBA TÉCNICA</h5>
    <h5 [routerLink]="['/information']" class="banner__cta">DESCUBRIR AHORA</h5>
</div>
<div class="promo">
    <div class="promo__content">
        <h1>STARSHIPS COLLECTION 2020</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row"  [@listAnimation]="(starshipsListService.starship$ | async)?.length" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
        <div class="col-md-6" *ngFor="let starship of starshipsListService.starship$ | async">
            <app-starship-card [routerLink]="['/starship', 'detail', starship.id]" routerLinkActive="router-link-active"  [starship]="starship"></app-starship-card>
        </div>
    </div>
</div>