@font-face {
    font-family: Grotesque;
    font-style: normal;
    font-weight: bold;
    src: url("BasisGrotesquePro-Bold.ttf") format("truetype");
}
@font-face {
    font-family: Grotesque;
    font-style: normal;
    font-weight: lighter;
    src: url("BasisGrotesquePro-Light.ttf") format("truetype");
}
@font-face {
    font-family: Grotesque;
    font-style: normal;
    font-weight: normal;
    src: url("BasisGrotesquePro-Regular.ttf") format("truetype");
}
