@import "./../../../styles/colors.scss";

.register-wrapper {
    padding: 0 135px 40px 135px;
}
.error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $greenLight;
    padding: 15px;
    margin-bottom: 20px;
}