@import "colors.scss";
@import "variables.scss";
@import "material.scss";

* {
    font-family: Grotesque, Arial, Helvetica, sans-serif;
    &:focus {
        outline: none !important;
    }
}
a:link,
a:visited,
a:active {
    text-decoration: none;
}
