<div class="top-nav-bar">
    <div class="top-nav-bar__left">
        <div class="logo-mini"></div>
        <div class="nav-option mr-4" [routerLink]="['starships']" routerLinkActive="nav-option--active">
            Naves
        </div>
        <div class="nav-option mr-4" [routerLink]="['/home']" routerLinkActive="nav-option--active">
            Información
        </div>
    </div>
    <div class="top-nav-bar__center">
        <div class="logo"></div>
    </div>
    <div class="top-nav-bar__right">
        <div class="nav-option mr-4">
            Administración
        </div>
        <div class="nav-option" (click)="mainLayoutService.showHideSidebar()">
            Iniciar sesión
        </div>
    </div>
</div>