<div class="top-nav-bar">
    <div class="top-nav-bar__left">
        <div [routerLink]="['/']" class="logo-mini"></div>
        <div class="nav-option mr-4" [routerLink]="['starships']" routerLinkActive="nav-option--active">
            Naves
        </div>
        <div class="nav-option mr-4" [routerLink]="['/information']" routerLinkActive="nav-option--active">
            Información
        </div>
    </div>
    <div class="top-nav-bar__center">
        <div [routerLink]="['/']" class="logo"></div>
    </div>
    <div class="top-nav-bar__right">
        <div class="nav-option mr-4" [routerLink]="['/admin']" routerLinkActive="nav-option--active">
            Administración
        </div>
        <div *ngIf="!(authenticationService.user$ | async)" class="nav-option" (click)="mainLayoutService.showHideSidebar()">
            Iniciar sesión
        </div>
        <div *ngIf="(authenticationService.user$ | async)" class="nav-option" (click)="authenticationService.logout()">
            Cerrar sesión
        </div>
    </div>
</div>