@import "./../../../../styles/colors.scss";
@import "./../../../../styles/variables.scss";

.top-nav-bar {
    z-index: 9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 70px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0px;
    background-color: $white;
    border-bottom-style: solid;
    border-bottom-color: $grayLight;
    border-bottom-width: 1px;
    @media (max-width: $screen-md) {
        height: 50px;
    }
    &__left {
        margin-left: 25px;
        display: flex;
        align-items: center;
        width: 33.3%;
        @media (max-width: $screen-md) {
            margin-left: 5px;
        }
    }
    &__center {
        display: flex;
        justify-content: center;
        width: 33.3%;
    }
    &__right {
        margin-right: 25px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 33.3%;
        @media (max-width: $screen-md) {
            margin-right: 5px;
        }
    }
}

.logo {
    cursor: pointer;
    height: 45px;
    width: 200px;
    background-image: url("/assets/logos/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    @media (max-width: $screen-md) {
        display: none;
    }
}
.logo-mini {
    cursor: pointer;
    height: 35px;
    width: 70px;
    background-image: url("/assets/logos/logo_mini.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    @media (min-width: $screen-md) {
        display: none;
    }
}

.nav-option {
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: transparent;
    transition: 0.2s all;
    color: $black;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @media (max-width: $screen-md) {
        display: none;
    }
}
.nav-option:hover {
    opacity: 0.4;
}
.nav-option--active {
    border-bottom-color: $black;
}
