<app-dialog-structure [dialogRef]="dialogRef">
    <div class="register-confirmation-wrapper">
        <div class="row">
            <div class="col text-center">
                <h4>Gracias por registrarte</h4>
                <p>Hemos guardado su email correctamente, ya puede iniciar sesión</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col text-center">
                <button (click)="close()" class="btn__primary">Continuar</button>
            </div>
        </div>
    </div>
</app-dialog-structure>